#!/bin/bash
#setting
JAVA_OPTS="-server"

#common variable
PWD=$(cd `dirname $0`; cd ..; pwd)

#APP_CP=.
#for f in $(find ${PWD}/lib -name *.jar);do
#   APP_CP=$APP_CP:$f
#done

APP_CP=.:{{libStr}}
CLASSPATH=$APP_CP
export CLASSPATH

$JAVA_HOME/bin/java $JAVA_OPTS -cp $APP_CP {{mainClass}} $*
