#!/bin/bash

#check envriment
if [ -z "$JAVA_OPTS" ];then 
    echo "JAVA_OPTS not set. eg.[export JAVA_OPTS='-server -Dfile.encoding=utf-8']"
fi

#common variable
PWD=$(cd `dirname $0`; cd ..; pwd)
cd $PWD

#loop classpath libraries
LIB_PATH=lib
#APP_CP=.:{{libStr}}
APP_CP=.
for f in $(find ${PWD}/lib -name *.jar);do
   APP_CP=$APP_CP:$f
done

export PATH=$JAVA_HOME/bin:$PATH
export CLASSPATH=$CLASSPATH:$APP_CP

java $JAVA_OPTS {{mainClass}} $*