@echo off

if "%JAVA_OPTS%" == "" echo "JAVA_OPTS not set. eg.[SET JAVA_OPTS=-server -Dfile.encoding=utf-8]"

set APP_CP=.;{{libStr}}

set JAVA_HOME=%JAVA_HOME%
set PATH=%JAVA_HOME%/bin;%PATH%
set CLASSPATH=%APP_CP%

java %JAVA_OPTS% {{mainClass}} %*
